/* Defining CSS variables */
:root {
  --primary: rgba(68, 88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(223, 223, 223, 1);
}

/* Define all elements to use the same font */
* {
  box-sizing: border-box;
  font-family:'American Typewriter', 'Courier New', serif;
}

body {
  margin: 0;
  padding: 0;
  color: var(--light);
  background-color: var(--dark);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
}

/* Setup the header to use flex boxes and use a background image and a box shadow */
header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  background-image: url("../images/vinyl-texture.jpg");
}

/* Setup the header color, font-size and padding */
header h1 {
  color: var(--light);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 2.5em;
  line-height: 1;
}

/* Setup nav sections as flex boxes */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Set the styling for the NAV links */
nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--secondary);
  margin-right: 10px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.5rem;
}

/* Setup nav links to provide a transition when hovered over */
nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}

nav a:last-child {
  margin-right: 0;
}

/*Setup margins for the main section */
main {
  margin-top: 20px;
  margin-bottom: 45px;
}

/*Setup the font size and margin for the article */
#about-me article {
  font-size: 0.8em;
  margin: 1em;
}

/*Setup the portfolio photo flex box to grow */
#port-photo {
  flex-grow: 1;
}

/*Setup the portfolio photo image size and to center within the flexbox */ 
#about-me img{
  width: 200px; 
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Set the default size for each image in the card */ 
.card img{
  width: 250px;
  border-radius: 8px;
}

/* Set each body of the card as a flexbox */
.flexbody{
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

/* Set each card at 25% and allow it to grow if necessary */
.card{
  flex: 1 0 25%;
  text-align: center;
}

#contact-me nav{
  margin-left: 50%;
}

/*Setup footer to use a background image */
footer{
  text-align: center;
  background-image: url("../images/vinyl-texture.jpg");
}

/* media queries */

/*When the screen drops below 992 pixels the cards adjust width to allow two cards across */ 
@media screen and (max-width: 992px) {
  .card img{
    width: 375px;
  }
}

/*When the screen drops below 768 pixels the cards adjust width so that they stack on top of each other */ 
@media screen and (max-width: 768px) {
  .card img{
    width: 500px;
  }
}
